*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-backgroundcolor: #F5F5F5  ;
  --font-family: sans-serif;
  --item-background-color:#FFFFFF;
  color-scheme: light;
}

body{
  background-color: var(--body-backgroundcolor);
  font-family: var(--font-family);

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin : 3.5rem;
  padding-left: 2rem;
  width: 80%;
  
}

.view-all-button{
  background-color: red;
  width: 4rem;
  border-radius: .2rem;
  text-align: center;
  margin-right: .5rem;
  height: 1.5rem;
  border: none;
}
.menu{
  display: flex;
  flex-direction: row;
  width:  60%;
  gap: 1rem;
}

.menu-item{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
}
.body{

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3.5rem;
  width: 90%;
  justify-content: space-around;
}

.item{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  height: 40vh;
  border-radius: .5rem;
  background-color:var(--item-background-color) ;
  margin-bottom: 2rem;
 

}
.item-name{
  text-transform: capitalize;
  font-weight: 800;
}
.item-name,  .description, .price{
  margin-left: .4rem;
}

.item img{
  width: 100%;
  height: 25vh;
  border-radius: .5rem;
}
.image-container{
  position: relative;
  display: inline-block;
}
.discount {
  position: absolute;
  top: 0px;
  left: 0px;  
  background-color:orange;
  color: white;
  padding: .2rem;
  font-size: 1rem;
  border-radius: .5rem;
  font-weight: bold;
}



.price{
  font-weight: 800;
  color: red;
}

.originalprice{

  text-decoration: line-through;
}